---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
  lang: 'en' | 'he';
}

const { lang } = Astro.props;
const t = useTranslations(lang);

// Get current path to construct language switch URLs
const currentPath = Astro.url.pathname;
// Remove the language prefix and get the rest of the path
const pathWithoutLang = currentPath.replace(/^\/(en|he)\//, '/');
const enUrl = '/en' + pathWithoutLang;
const heUrl = '/he' + pathWithoutLang;
---

<nav class="navbar">
  <span class="navbar-brand">
    <a href={`/${lang}/works/`}>Niv Shapira</a>
  </span>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href={`/${lang}/works/`} class="nav-link">{t('nav.works')}</a>
    </li>
    <li class="nav-item">
      <a href={`/${lang}/publications/`} class="nav-link">{t('nav.publications')}</a>
    </li>
    <li class="nav-item">
      <a href={`/${lang}/about/`} class="nav-link">{t('nav.about')}</a>
    </li>
    <li class="nav-item">
      <a href="mailto:shapiraniv@gmail.com" class="nav-link">{t('nav.contact')}</a>
    </li>
  </ul>
</nav>
