---
interface Props {
  id: string;
  banner: string;
  lang: 'en' | 'he';
}

const { id, banner, lang } = Astro.props;
---

<div class="works-work col-lg-4 col-6">
  <a href={`/${lang}/graphics/${id}/`}>
    <img src={`/${banner}`} class="rounded-lg banner" alt="" loading="lazy" />
  </a>
</div>
