---
export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'he' } },
  ];
}

const { lang } = Astro.params;
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=/${lang}/about/`} />
    <link rel="canonical" href={`/${lang}/about/`} />
  </head>
  <body></body>
</html>
